/* Markup */
html,
body
{
  background-color: #fff;
  color: #000;
}
body
{
  padding: .4em 50px;
}
table
{
  border-collapse: collapse;
}
table tr.comment
{
  color: #999;
  font-size: 90%;
}
table tr.comment p
{
  padding: 0 0 .5em;
  margin: 0;
}
h1
{
  font-weight: normal;
  font-size: 1.6em;
}
h1 a
{
  color: #000;
  text-decoration: none;
}
h1.splash
{
  font-size: 250%;
  text-align: center;
}
h1.splash,
p.missing
{
  color: #ddd;
}
h1.splash a
{
  color: #ddd;
}
h2
{
  font-weight: normal;
  font-size: 1.4em;
  color: #222;
}
pre
{
  margin: .2em 0;
  padding: .8em;
  background-color: #000;
  color: #ddd;
  overflow: auto;
  font-size: 90%;
}
hr
{
  border: none;
  height: 1px;
  background-color: #444;
}
ul
{
  margin: 0;
  padding: 0;
}
/* Additional styling */
span.visibility,
span.rw
{
  font-style: italic;
  font-weight: bold;
}