html,
body
{
  background-color: #fff;
  color: #000;
}
body
{
  padding: .4em 50px;
}
h1
{
  font-weight: normal;
  font-size: 1.6em;
}
h2
{
  font-weight: normal;
  font-size: 1.4em;
  color: #222;
}

h1.splash
{
  font-size: 250%;
  text-align: center;
}
h1.splash,
p.missing
{
  color: #ddd;
}

p.signature
{
  font-size: 90%;
  color: #222;
}